body{

	background:pink;
}

/* This is where "my portfolio section is" */

header{

	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border: solid pink 5px;
	width:600px;
	background: white;
	font-family: verdana;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color:pink;
}

/* This is the styling for the entire rest of my portfolio currently */

section{

	background: white;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:600px;
	font-family: verdana;
	font-size:14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:pink;
}

/* Link coloring goes below */

a {
	color:pink;
}

